@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

$text: 'Source Sans Pro', sans-serif;

$purple: #380b37;
$light-purple: #552f54;
$grey: #ececec;
$grey-lighter: #f1f1f1;
$text-black: #202020;
$pink: #ca0f5f;
$yellow: #f9b400;
$green: #76b72d;
$blue: #2193d5;
$blue-light: #c7e4f4;
$orange: #fe6930;
$violet: #c979c7;
$teal: #007579;
$turquoise: #007579;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;